sample/Fabric Analyst/workflows/TableTalk-Fabric-Refreshdataset-5e10968d-a142-f111-bec7-7ced8d3c7b0f/workflow.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerbi": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedpowerbi_ff7fa"
        },
        "api": {
          "name": "shared_powerbi"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          },
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Workspace",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Dataset",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_the_agent": {
          "runAfter": {
            "Refresh_a_dataset": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          },
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "Done ! dataset refreshed"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Refresh_a_dataset": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "cc116852-bfd8-432e-b3f0-0cfb8cbb49fa"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_powerbi",
              "operationId": "RefreshDataset",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerbi"
            },
            "parameters": {
              "groupid": "@triggerBody()?[\u0027text\u0027]",
              "datasetid": "@triggerBody()?[\u0027text_1\u0027]"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Respond_to_the_agent_with_error": {
          "runAfter": {
            "Refresh_a_dataset": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e1f86786-8085-4d75-8bef-1ff0c65a87f1"
          },
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "there was an error trying to refresh the dataset"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}