sample/Fabric Analyst/workflows/TableTalk-Fabric-SendDAXQuery-b5d08619-c241-f111-bec7-6045bd024dba/workflow.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerbi": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedpowerbi_ff7fa"
        },
        "api": {
          "name": "shared_powerbi"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          },
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "DaxQuery",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "DatasetId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "WorkspaceId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_2",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Scope_-_Try_DAX_Query": {
          "actions": {
            "Run_a_query_against_a_dataset": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "746ea7ed-a8a7-473b-8a0e-8842cac16252"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerbi",
                  "operationId": "ExecuteDatasetQuery",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerbi"
                },
                "parameters": {
                  "groupid": "@triggerBody()?[\u0027text_1\u0027]",
                  "datasetid": "@triggerBody()?[\u0027text_2\u0027]",
                  "specification/query": "@triggerBody()?[\u0027text\u0027]",
                  "specification/serializerSettings/includeNulls": false
                },
                "authentication": "@parameters(\u0027$authentication\u0027)"
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9eeb62a2-efdd-4adc-aaf1-5422f97fa379"
          },
          "type": "Scope"
        },
        "Scope_-_On_Success": {
          "actions": {
            "Output_-_Take_first_100_records_or_30000_characters": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "65526844-f147-4bd0-86a7-3b48dbdef300"
              },
              "type": "Compose",
              "inputs": "DAX Query Results:\n@{substring(string(take(outputs(\u0027Run_a_query_against_a_dataset\u0027)?[\u0027body/firstTableRows\u0027],100)),0,min(\r\n    30000,\r\n    length(string(take(outputs(\u0027Run_a_query_against_a_dataset\u0027)?[\u0027body/firstTableRows\u0027],100)))\r\n  ))}"
            },
            "Respond_to_the_agent": {
              "runAfter": {
                "Output_-_Take_first_100_records_or_30000_characters": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
              },
              "type": "Response",
              "kind": "Skills",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "daxqueryresults": "@{outputs(\u0027Output_-_Take_first_100_records_or_30000_characters\u0027)}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "daxqueryresults": {
                      "title": "DaxQueryResults",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Scope_-_Try_DAX_Query": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cff58d13-edc8-4cec-ba38-0dc524415833"
          },
          "type": "Scope"
        },
        "Scope_-_On_Failure": {
          "actions": {
            "Respond_to_the_agent_when_Dax_query_fails": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
              },
              "type": "Response",
              "kind": "Skills",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "daxqueryresults": "@{string(body(\u0027Run_a_query_against_a_dataset\u0027))}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "daxqueryresults": {
                      "title": "DaxQueryResults",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Scope_-_Try_DAX_Query": [
              "TimedOut",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "5190124b-bbfe-4110-ba71-fd938b18c856"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}